<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>The Timeline</title>
  </head>
  <body>
    <div class="container">
      <div class="logOut">
        <h2>Welcome <%= username %> </h2>
        <form action="/auth/logOut" method="get">
          <button type="submit" class="logout-btn">LogOut</button>
        </form>
        
      </div>
    <%- include('header') -%>
   <h1><%= message %></h1>
   <main class="main">
    <%- include('form') -%>
    <ul>
      <% items.forEach(function(item) { %>
      <li> 
          <p><%= item.name %> - <%= item.createdAt %></p>
          
          <p class="message"><%= item.message %></p>

           <div class="comments">
                <strong>Comments:</strong>
                <ul>
                  <% item.comments.forEach(function(comment) { %>
                    <li>
                      <p><%= comment.name %> - <%= comment.createdAt %></p>
                      <p><%= comment.comment %></p>
                    </li>
                  <% }); %>
                </ul>
                <form action="/comment/newComment" method="post" class="main-form">
  <input type="hidden" name="postId" value="<%= item._id %>">
  <input type="text" name="name" required>
  <input type="text" name="createdAt" required>
  <textarea name="comment" rows="4" required></textarea>
  <button type="submit" class="comment-btn">Add Comment</button>
</form>
            </div>


        </li>
      <% }); %>
    </ul>
        </main>
       <%- include('footer') -%> 
    </div>
   
  </body>
</html>

